.maincontainer {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5vh;
}
.headcontainer {
    width: 90%;
    height: 7vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.bodycontainer {
    width: 90%;
    height: 15vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: lightgrey;
}
.bodycontainer img {
    width: 100px;
    height: auto;
}