.maincontainer {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
table {
    width: 90%;
    height: auto;
}
.bodycontainer {
    width: 100%;
    min-height: 90%;
}
.data {
    display: flex;
    align-items: center;
}
.data td {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.data img {
    width: 100px;
    height: 100px;
}

