.bodyContainer {
    width: 100%;
    height: 75vh;
    display: flex;
    justify-content: center;
}
.mainContainer {
    position: relative;
    width: 90%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.userDetailsContainer {
    width: 100%;
    height: 30%;
    background-color: #2e2e3e;
    display: flex;
}
.left {
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 20px;
}
.left h5 {
    color: darkgrey;
    font-weight: bold;
}
.middle {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    flex-wrap: wrap;
    gap: 5vh;
}
.right {
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.right h5{
    cursor: pointer;
    font-weight: bold;
    color: darkgrey;
}
.optionsContainer {
    width: 20%;
    height: 60%;
    background-color: #2e2e3e;
    display: flex;
    flex-direction: column;
    align-items: start;
}
.optionsContainer h5 {
    font-weight: bold;
    color: darkgrey;
    margin-top: 5%;
    margin-left: 5%;
}
.account {
    padding-left: 5%;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 5%;
    flex-wrap: wrap;
}
.account h6 {
    margin-right: 17vh;
}
.testContainer {
    width: 75%;
    height: 60%;
    background-color: #2e2e3e;
}
.account svg {
    width: 25px;
    height: auto;
    margin-bottom: 1vh;
}
.topContainer {
    padding-left: 2vh;
    padding-right: 2vh;
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.topContainer svg {
    display: none;
}
.topContainer h3 {
    display: none;
}
.formContainer {
    width: 100%;
    height: 80%;
}
.editForm {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.flexContainer {
    width: auto;
    height: auto;
    display: flex;
    justify-content: start;
    flex-direction: column;
}
.flexContainer input {
    display: none;
}
.flexContainer label{
    display: none;
}
.bottomContainer {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 2vh;
}
.bottomContainer input {
    background-color: #676EFF;
    border: none;
    color: white;
    width: 15vh;
    height: 5vh;
    display: none;
}
form {
    width: 100%;
    height: 100%;
}